<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Todo List</h1>
    <a href="/todos/new">Add New Todo</a>
    <ul>
      <% todos.forEach(todo => { %>
      <li>
        <h2><%= todo.title %></h2>
        <p><%= todo.description %></p>
        <a href="/todos/<%= todo._id %>/edit">Edit</a>
        <form action="/todos/<%= todo._id %>/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
